.player-card {
  position: relative;
  min-width: 100px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  margin: 0 2px;
  border: 1px solid #DADADA;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card figure {
  display: block;
  position: absolute;
  height: 150px;
  width: 100%;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #DADADA;
  backface-visibility: hidden;
}

.front {
  display: relative;
}

.back {
  background-image: url('../images/playing-card-back.jpg');
  background-size: contain;
  transform: rotateY(180deg);
}

#flipped {
  transform: rotateY( 180deg );
}

/* #three {
  transform: rotate(90deg);
  bottom: 80px;
  left: -120px;
} */

.red-card {
  color: red;
}

.black-card {
  color: black;
}

.card-rank {
  width: max-content;
  font-size: 24px;
}

.card-rank-top {
  position: absolute;
  top: 5px;
  left: 5px;
}

.card-rank-bottom {
  transform: rotate(180deg);
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.card-suit {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  font-size: 48px;
}
